<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodbyenote.issuechecker.pos.dao.MenuMapper">
	<select id="getList" resultType="MenuVO" parameterType="map">
	SELECT
		memberid,
		deviceid,
		categoryid,
		menuid,
		name,
		sortorder,
		defaultprice,
		storeprice,
		deliveryprice,
		takeoutpoint,
		defaultdiscount,
		storediscount,
		deliverydiscount,
		takeoutdiscount,
		ishidden,
		isdeleted,
		creationdate,
		modificationdate,
		syncdate
	from menu
	</select>

	<select id="count" resultType="int" parameterType="map">
		SELECT count(0) as total
		FROM MENU
	</select>
	<!-- 상세보기 -->
	<select id="getDetail" resultType="MenuVO" parameterType="map">
	SELECT
		memberid,
		deviceid,
		categoryid,
		menuid,
		name,
		sortorder,
		defaultprice,
		storeprice,
		deliveryprice,
		takeoutpoint,
		defaultdiscount,
		storediscount,
		deliverydiscount,
		takeoutdiscount,
		ishidden,
		isdeleted,
		creationdate,
		modificationdate,
		syncdate
	from menu
	where rownum = 1
	</select>
		
	<!-- 입력 -->		
	<insert id="insertMenu" parameterType="MenuVO">
		INSERT INTO MENU (MEMBERID,
	            DEVICEID,
	            CATEGORYID,
	            MENUID,
	            NAME,
	            SORTORDER,
	            DEFAULTPRICE,
	            STOREPRICE,
	            DELIVERYPRICE,
	            TAKEOUTPRICE,
	            DEFAULTPOINT,
	            STOREPOINT,
	            DELIVERYPOINT,
	            TAKEOUTPOINT,
	            DEFAULTDISCOUNT,
	            STOREDISCOUNT,
	            DELIVERYDISCOUNT,
	            TAKEOUTDISCOUNT,
	            ISHIDDEN,
	            CREATIONDATE,
	            MODIFICATIONDATE,
	            SYNCDATE,
	            ISDELETED)
		VALUES ( 0,
				0,
				0,
				SELECT To_Number('0' || Max(id))+1 FROM MENU,
				#{name},
				#{sortorder},
				#{defaultprice},
				#{storeprice},
				#{deliveryprice},
				#{takeoutprice},
				#{defaultpoint},
				#{storepoint},
				#{deliverypoint},
				#{takeoutpoint},
				#{defaultdiscount},
				#{storediscount},
				#{deliverydiscount},
				#{takeoutdiscount},
				#{ishidden},
				sysdate,
				sysdate,
				sysdate,
				#{isdeleted}
		)
	</insert>

	<!-- 수정 -->
	<update id="updateMenu" parameterType="MenuVO">
		UPDATE MENU
		SET    
		       CATEGORYID       = 0,
		       NAME             = #{name},
		       SORTORDER        = #{sortorder},       
		       DEFAULTPRICE     = #{defaultprice},    
		       STOREPRICE       = #{storeprice},      
		       DELIVERYPRICE    = #{deliveryprice},   
		       TAKEOUTPRICE     = #{takeoutprice},    
		       DEFAULTPOINT     = #{defaultpoint},    
		       STOREPOINT       = #{storepoint},      
		       DELIVERYPOINT    = #{deliverypoint},   
		       TAKEOUTPOINT     = #{takeoutpoint},    
		       DEFAULTDISCOUNT  = #{defaultdiscount}, 
		       STOREDISCOUNT    = #{storediscount},   
		       DELIVERYDISCOUNT = #{deliverydiscount},
		       TAKEOUTDISCOUNT  = #{takeoutdiscount}, 
		       ISHIDDEN         = #{ishidden},        
		       CREATIONDATE     = #{creationdate},    
		       MODIFICATIONDATE = #{modificationdate},
		       SYNCDATE         = #{syncdate},        
		       ISDELETED        = #{isdeleted}	    
		WHERE  MEMBERID         = #{memberid}
		AND    DEVICEID         = #{deviceid}
		AND    MENUID           = #{menuid}
	</update>

	<!-- 삭제 -->
	<delete id="deleteMenu" parameterType="Integer">
		DELETE FROM
		MENU
		WHERE  MEMBERID         = #{memberid}
		AND    DEVICEID         = #{deviceid}
		AND    MENUID           = #{menuid}
	</delete>
	  
</mapper>