<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/common.xml" />
        <mapper resource="mybatis/member.xml" />
        <mapper resource="mybatis/posorder.xml" />
        <mapper resource="mybatis/poscustomer.xml" />
        <mapper resource="mybatis/postable.xml" />
        <mapper resource="mybatis/possetting.xml" />
        <mapper resource="mybatis/posspecial.xml" />
        <mapper resource="mybatis/IssueChecker.xml" />
    </mappers >
    
</configuration>
 