@charset "utf-8";

/* common */
html, body {height:100%}
body {	font-family:'Dotum', sans-serif;font-size:11px;color:#79797a;background-color:#f8f8f8;letter-spacing:-1px}
h1, h2, h3, h4, h5, h6 {margin:0;padding:0;font-family:'Dotum', sans-serif}
form {margin:0;padding:0}
p, ul, ol, li, dl, dt, dd {list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0}
a {text-decoration:none}
a:hover, a:active {color:#3cbf7c !important;text-decoration:none}
table {width:100%;border-collapse:separate;border-spacing:0;table-layout:fixed}
* html table {border-collapse:collapse}
*+html table {border-collapse:collapse}
input[type="radio"] {margin:0;padding:0}
input[type="checkbox"] {margin:0;padding:0;position:relative;top:3px}

/* grid */
.grids.ui_guide .row-fluid {margin-top:10px;margin-bottom:20px}
.grids.ui_guide .row-fluid [class*="span"] {background:#e1e1e1;text-align:center;line-height:30px}
.grids.ui_guide .row-fluid [class*="span"]:hover {background:#ddd}

/* layout */
.wrap {min-width:100%;min-height:100%}
#header {height:64px;overflow:hidden}
#contents {position:relative;height:100%}
#lnb {position:absolute;left:0;top:0;width:150px;height:100%;margin-right:-150px;background-color:#292929}
.page {height:100%;margin-left:150px;background-color:#f8f8f8}
.page2 {height:100%;margin-left:0px;background-color:#f8f8f8}
.content {padding:20px 20px 20px 20px}
.banner_wrap {position:absolute;right:0;top:49px;width:130px;margin-left:-150px;margin-right:20px}

/* align */
.tl {text-align:left !important}
.tr {text-align:right !important}
.tc {text-align:center !important}

/* header */
#header h1 {float:left;display:block;width:150px;*width:138px;height:64px;line-height:64px;padding-left:12px;background-color:#292929;color:#fff;font-family:'Open Sans', 'Dotum', sans-serif;font-size:14px;font-weight:700;letter-spacing:0}
.nav_wrap {margin-left:150px}
.nav_wrap .util {height:28px;padding:0 12px;background-color:#333}
.nav_wrap .util .message {float:left;height:28px;line-height:30px;color:#666}
.nav_wrap .util ul {float:right}
.nav_wrap .util li {float:left;background:url('../images/blt_line.png') no-repeat 0 center}
.nav_wrap .util li:first-child {background:none}
.nav_wrap .util li a {display:block;height:28px;line-height:30px;padding:0 5px 0 6px;color:#999;font-size:11px}
.nav {height:36px;*height:35px;background-color:#d1d1d1;border-bottom:1px solid #bdbdbd}
.nav .sidebar_toggle {position:relative;float:left;display:block;width:31px;height:36px;background:url('../images/btn_sidebar.png') no-repeat 0 0;text-indent:-99999px}
.nav .sidebar_toggle:hover, .nav .sidebar_toggle:active {background-position:0 100%}
.nav ul {float:left}
.nav li {float:left}
.nav li a {display:block;width:100px;height:35px;line-height:35px;background-color:#e1e1e1;border-right:1px solid #bdbdbd;color:#79797a;text-align:center}
.nav li.current a {position:relative;height:36px;background-color:#fff;border-right:1px solid #bdbdbd;color:#3cbf7c;font-weight:bold}
.nav li a {*display:inline;*zoom:1}
.nav li a i.fa {font-size:12px}
.wrap.sidebar_hide #lnb {display:none}
.wrap.sidebar_hide .page {position:relative;margin-left:0}
.wrap.sidebar_hide .nav .sidebar_toggle {background-position:100% 0}
.wrap.sidebar_hide .nav .sidebar_toggle:hover, .wrap.hide .nav .sidebar_toggle:active {background-position:100% 100%}

/* lnb */
#lnb li a {display:block;min-height:16px;padding:7px 12px 5px;background-color:#333;color:#999;font-weight:bold}
#lnb li ul {margin-top:0;padding:5px 12px}
#lnb li li a, #lnb li.current li a {padding:1px 0 1px 8px;background:url('../images/blt_lnb.png') transparent no-repeat 0 8px;font-weight:normal}
#lnb > ul > li.current > a {background-color:#3cbf7c;color:#fff;text-shadow:1px 0 #169755}
#lnb > ul > li.current > a:hover, #lnb > ul > li.current > a:active {color:#fff !important}
#lnb li li a:hover,
#lnb li li.current a {background-image:url('../images/blt_lnb_on.png');color:#3cbf7c}

/* contents */
.location_bar {position:relative;padding-left:12px;background-color:#fff;border-bottom:1px solid #ddd;*zoom:1}
.location_bar:after {content:'';display:block;clear:both}
.location {float:left;height:29px;*height:28px;line-height:29px}
.location i.fa.fa-map-marker {position:relative;top:0.1em;color:#999;font-size:14px}
.location strong {color:#333;font-weight:bold}
.crm_search {position:absolute;right:170px;top:5px;vertical-align:middle}
.crm_search * {vertical-align:middle}
.crm_search label {margin:0 5px 0 0;font-weight:normal}
.crm_search .btn_white_xs.btn_navy {background-position:0 -276px}
.crm_search .btn_white_xs.btn_navy a {display:block;width:18px;min-width:18px;padding:0;background-position:100% -294px;color:#fff;font-weight:normal}
.crm_search .btn_white_xs.btn_navy a:hover, .crm_search .btn_white_xs.btn_navy a:active {color:#fff !important}
.crm_search .btn_white_xs.btn_navy a i {display:block;height:18px;padding:0 5px 0 3px;line-height:17px}
.h3_wrap {margin-bottom:8px;*zoom:1}
.h3_wrap:after {content:'';display:block;clear:both}
.h3_wrap h3 {float:left;margin-right:10px;color:#292929;font-family:'Dotum', sans-serif;font-size:14px;font-weight:bold}

/* site_select */
.site_select {min-height:24px;margin-bottom:20px;padding:3px 12px;border-top:2px solid #3cbf7c;border-bottom:1px solid #d1d1d1;background-color:#fff}
.site_select * {vertical-align:middle}
@-moz-document url-prefix() {
   .site_select * {vertical-align:top}
}

/* list */
.list_wrap {margin-bottom:20px}
.list_wrap table {border-top:2px solid #3b3e4e;border-bottom:1px solid #d1d1d1}
.list_wrap thead th {padding:5px 0;background-color:#f1f1f1;border-left:1px solid #e1e1e1;color:#444;font-weight:normal;text-align:center}
.list_wrap thead tr th:first-child {border-left:none}
.list_wrap tbody td {min-height:20px;padding:3px 0;background-color:#fff;border-top:1px solid #e1e1e1;text-align:center}
.list_wrap tbody td * {vertical-align:middle}
.list_wrap table a {text-decoration:underline}
.list_wrap thead th a {color:#444}
.list_wrap tbody td a {color:#79797a}
.list_wrap tbody td.left {padding-left:2px;text-align:left}
.list_wrap tbody td .btn_white_xs {margin:1px 0}
.list_wrap tbody td .btn_white_xs.memo a {width:42px;padding:0;font-family:'Arial;', sans-serif;font-size:10px;font-weight:bold;letter-spacing:0;text-transform:uppercase;line-height:16px}
.list_wrap tbody td label {margin:0;font-weight:normal}
.list_wrap tbody td strong.sale {color:#3cbf7c;font-weight:bold}
.list_wrap tbody td span.red {color:#ff7b23}
.list_wrap.order_list tbody tr.gray td {background-color:#f6fdf9}
.list_wrap.order_list tbody td {border-left:1px solid #ececec}
.list_wrap.order_list tbody td.first {border-left:none}
.list_wrap a.btn_mobile {text-decoration:none}
.list_wrap a.btn_mobile i {position:relative;top:3px;font-size:21px;color:#3cbf7c;cursor:pointer}
.paging {margin-top:20px;text-align:center}
.paging strong.current, .paging a {display:inline-block;padding:0 3px}
.paging a {color:#79797a}
.paging strong.current {color:#3cbf7c}
.paging .btn_prev {margin-right:10px}
.paging .btn_next {margin-left:10px}
.paging .btn_white_xs a i {color:#3cbf7c;font-weight:bold}
.paging .btn_next a i {padding-right:0;padding-left:6px}

/* form */
.form_wrap {margin-top:5px;margin-bottom:5px}
.form_wrap table {border-top:2px solid #3b3e4e;border-bottom:1px solid #d1d1d1}
.form_wrap tbody th {padding:3px 12px;background-color:#f1f1f1;border-top:1px solid #e1e1e1;color:#444;font-weight:normal;text-align:left}
.form_wrap tbody td {min-height:20px;padding:3px 12px;background-color:#fff;border-top:1px solid #e1e1e1;text-align:left}
.form_wrap tbody td * {vertical-align:middle}
.form_wrap tbody td .radio_wrap {display:block;margin-bottom:5px}
.form_wrap label {margin:0 10px 0 0;font-weight:normal}
input[type="text"] {height:22px;line-height:22px;padding:0 5px;background-color:#fff;border-top:1px solid #bdbdbd;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;border-left:1px solid #bdbdbd;font-family:'Dotum', sans-serif;font-size:11px;color:#79797a;vertical-align:middle;-webkit-box-sizing:content-box !important;-moz-box-sizing:content-box !important;box-sizing:content-box !important}
textarea {line-height:16px;padding:5px;background-color:#fff;border-top:1px solid #bdbdbd;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;border-left:1px solid #bdbdbd;font-family:'Dotum', sans-serif;font-size:11px;color:#79797a;vertical-align:middle;-webkit-box-sizing:content-box !important;-moz-box-sizing:content-box !important;box-sizing:content-box !important;resize:none !important}
input[type="text"]:focus, input[type="text"].focus, textarea:focus, textarea.focus {background-color:#f9fffc;border:1px solid #18a85f;outline:none}
.cmselw {display:inline-block;*display:inline;position:relative;*zoom:1;text-align:left;*vertical-align:middle}
.cmselw .t-top {position:relative;height:22px;cursor:pointer;border-top:1px solid #bdbdbd;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;border-left:1px solid #bdbdbd;background-color:#fff;-webkit-box-sizing:content-box !important;-moz-box-sizing:content-box !important;box-sizing:content-box !important}
.cmselw .t-top .tit {padding:0 0 0 5px;line-height:22px;color:#79797a}
.cmselw .t-top .arr {position:absolute;right:0;top:0;width:22px;height:22px;background: url('../images/arrow_select.png') no-repeat center center;padding:0}
.cmselw .a-lay {position:absolute;top:22px;border:1px solid #e8e8e8;background-color:#fff}
.cmselw .a-lay .scroll{
    position:relative;
	max-height:130px;
    margin:1px 0 0 0;
    overflow-x:hidden;
    overflow-y:auto;
	scrollbar-face-color:#fff;
	scrollbar-3dlight-color:#fff;
	scrollbar-shadow-color:#dad9d9;
	scrollbar-highlight-color:#dad9d9;
	scrollbar-darkshadow-color:#fff;
	scrollbar-track-color:#fff;
	scrollbar-arrow-color:#dad9d9;
}
.cmselw .a-lay ul {padding:3px 0 4px 0}
.cmselw .a-lay ul li a {display:block;padding:0 0 0 10px;color:#79797a;line-height:19px}
.cmselw .a-lay ul li a.selected {}
.cmselw .a-lay ul li a:hover {text-decoration:none;color:#222;background-color:#f7f7f7}
.cmselw select {margin-right:0}
.cmseldisabled * {opacity:0.6;filter:alpha(opacity=60)}

/* button */
.btn_wrap {margin-top:10px;overflow:hidden}
.btn_wrap.list_top {margin-bottom:10px}
.btn_wrap.btn_center {text-align:center}
.btn_wrap button {*overflow:visible}
.btn_white {display:inline-block;height:30px;padding:0;border:none;background:url('../images/btn.png') no-repeat 0 0}
.btn_white a {display:inline-block;min-width:40px;*min-width:50px;height:30px;line-height:30px;padding:0 10px;background:url('../images/btn.png') no-repeat 100% -30px;color:#444;font-size:12px;font-weight:bold;text-align:center;text-decoration:none !important}
.btn_green {cursor:pointer;display:inline-block;height:30px;padding:0;border:none;background:url('../images/btn.png') no-repeat 0 -60px}
.btn_green a {display:inline-block;min-width:40px;*min-width:50px;height:30px;line-height:30px;padding:0 10px;background:url('../images/btn.png') no-repeat 100% -90px;color:#fff;font-size:12px;font-weight:bold;text-align:center;text-decoration:none !important}
.btn_green a:hover, .btn_green a:active {color:#fff !important}
.btn_white_s {cursor:pointer;display:inline-block;height:24px;padding:0;border:none;background:url('../images/btn.png') no-repeat 0 -120px}
.btn_white_s a {display:inline-block;height:24px;line-height:24px;padding:0 10px;background:url('../images/btn.png') no-repeat 100% -144px;color:#444;text-decoration:none !important}
.btn_white_xs {cursor:pointer;display:inline-block;height:18px;padding:0;border:none;background:url('../images/btn.png') no-repeat 0 -168px}
.btn_white_xs a {display:inline-block;height:18px;line-height:20px;*line-height:18px;padding:0 5px;background:url('../images/btn.png') no-repeat 100% -186px;color:#79797a;-webkit-box-sizing:content-box !important;-moz-box-sizing:content-box !important;box-sizing:content-box !important;text-align:center;text-decoration:none !important}
.btn_gray {cursor:pointer;display:inline-block;height:30px;padding:0;border:none;background:url('../images/btn.png') no-repeat 0 -408px}
.btn_gray a {display:inline-block;min-width:40px;*min-width:50px;height:30px;line-height:30px;padding:0 10px;background:url('../images/btn.png') no-repeat 100% -438px;color:#fff;font-size:12px;font-weight:bold;text-align:center;text-decoration:none !important}
.btn_sky {cursor:pointer;display:inline-block;height:30px;padding:0;border:none;background:url('../images/btn.png') no-repeat 0 -348px}
.btn_sky a {display:inline-block;min-width:40px;*min-width:50px;height:30px;line-height:30px;padding:0 10px;background:url('../images/btn.png') no-repeat 100% -378px;color:#fff;font-size:12px;font-weight:bold;text-align:center;text-decoration:none !important}
@-moz-document url-prefix() {
   .btn_white_xs, .btn_white_xs a {line-height:19px}
}
.btn_white_xs.btn_red {background-position:0 -204px}
.btn_white_xs.btn_red a {min-width:40px;padding:0 10px;background-position:100% -222px;color:#fff}
.btn_white_xs.btn_red a:hover, .btn_white_xs.btn_red a:active {color:#fff !important}
.btn_white_xs.btn_white {}
.btn_white_xs.btn_white a {min-width:40px;padding:0 10px;color:#d65c4f;font-size:11px;font-weight:normal}
.btn_white_xs.btn_white a:hover, .btn_white_xs.btn_white a:active {color:#d65c4f !important}
.btn_white_xs.btn_blue {background-position:0 -240px}
.btn_white_xs.btn_blue a {min-width:40px;padding:0 10px;background-position:100% -258px;color:#fff}
.btn_white_xs.btn_blue a:hover, .btn_white_xs.btn_blue a:active {color:#fff !important}
.btn_white_xs.btn_navy {background-position:0 -276px}
.btn_white_xs.btn_navy a {min-width:40px;padding:0 10px;background-position:100% -294px;color:#fff}
.btn_white_xs.btn_navy a:hover, .btn_white_xs.btn_navy a:active {color:#fff !important}
.btn_white_xs.disabled {background-position:0 -312px !important}
.btn_white_xs.disabled a {color:#79797a !important;font-weight:normal !important;background-position:100% -330px !important;cursor:default !important}
.btn_white_xs.disabled a:hover, .btn_white_xs.disabled a:active {color:#79797a !important}
.btn_date {display:inline-block;height:18px;line-height:18px;color:#444;font-size:14px;*vertical-align:middle;cursor:pointer}
.btn_date:hover, .btn_date:active {color:#3cbf7c}
button.btn_white, button.btn_green {*margin:0 2px;*padding:0;*width:1;*overflow:visible}
button.btn_white span, button.btn_green span {position:relative}
button.btn_white span {display:inline-block;min-width:70px;*min-width:50px;max-width:400px;height:30px;line-height:30px;padding:0 10px;background:url('../images/btn.png') no-repeat 100% -30px;color:#444;font-size:12px;font-weight:bold;text-align:center}
button.btn_green span {display:inline-block;min-width:70px;*min-width:50px;height:30px;line-height:30px;padding:0 10px;background:url('../images/btn.png') no-repeat 100% -90px;color:#fff;font-size:12px;font-weight:bold;text-align:center}
[class*="btn_"] i {line-height:inherit}

.btn_wrap .btn_fl {float:left}
.btn_wrap .btn_fr {float:right}

/* etc */
.privacy_wrap {margin-bottom:20px}
.privacy_wrap textarea {width:95%;height:200px}

/* quick */
.quick_toggle {position:absolute;right:-12px;top:-12px;width:26px;height:26px;background:url('../images/btn_quick.png') no-repeat 0 0;text-indent:-99999px}
.quick_toggle:hover, .quick_toggle:active {background-position:0 -30px}
.quick_hide .quick_toggle {right:auto;left:-24px;background-position:-30px 0}
.quick_hide .quick_toggle:hover, .quick_hide .quick_toggle:active {background-position:-30px -30px}
.wrap.quick_hide .content {padding-right:20px}
.wrap.quick_hide .banner_wrap {position:absolute;top:49px !important;left:auto !important;right:0 !important;width:0}
.wrap.quick_hide .banner_wrap .quick {display:none}
.wrap.quick_hide .crm_search {right:20px}
.quick {border-bottom:1px solid #e1e1e1}
.quick li a {display:block;min-height:16px;padding:7px 12px 5px;background-color:#444;color:#ccc;font-weight:bold}
.quick li ul {padding:5px 12px;background-color:#fff;border:solid #e1e1e1;border-width:0 1px 0 1px}
.quick li li a, .quick li.current li a {padding:1px 0 1px 8px;background:url('../images/blt_lnb.png') transparent no-repeat 0 8px;color:#79797a;font-weight:normal}
.quick > ul > li.current > a {background-color:#3cbf7c;color:#fff;text-shadow:1px 0 #169755}
.quick > ul > li.current > a:hover, .quick > ul > li.current > a:active {color:#fff !important}
.quick li li a:hover,
.quick li li.current a {background-image:url('../images/blt_lnb_on.png');color:#3cbf7c}

/* layer popup */
.pop_wrap {display:none;position:fixed;left:0;top:0;width:100%;height:100%;z-index:1000}
.pop_bg {position:absolute;left:0;top:0;width:100%;height:100%;background:url('../images/bg_pop.png') 0 0}
.pop_window {display:block;position:absolute;left:50%;top:50%;width:500px;/* margin-left:-250px; */background-color:#f8f8f8}
.pop_title {position:relative;height:36px;padding-left:12px;background-color:#333;color:#fff;font-size:20px;font-weight:bold;line-height:36px}
.pop_title h1 {float:left;height:36px;line-height:36px;font-size:12px;font-weight:bold;letter-spacing:0}
.pop_title .btn_close {position:absolute;right:10px;top:8px;width:20px;height:20px;background:url('../images/btn_pop_close.png') no-repeat 0 0;font-size:0;line-height:0}
.pop_content {padding:15px}

/* window popup */
.window_wrap {}
#pop_header {height:36px;padding-left:12px;background-color:#333;color:#fff;font-size:20px;font-weight:bold;line-height:36px}
#pop_header h1 {height:36px;line-height:36px;font-size:14px;font-weight:bold;letter-spacing:0}
#pop_contents {padding:20px}

/*새로 추가한 스타일시트*/
select {font-family:'dotum',sans-serif; font-size:11px;color:#79797a}
.searchTitle{color:#444}
.chkBtn{	font-family:'Dotum', sans-serif;font-size:11px;color:#79797a;background-color:#f8f8f8;letter-spacing:-1px;cursor:pointer;}
.logoutStyle {float:right;height:28px;padding-top:8px;color:red;}