<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemoMapper">
	<select id="getList" resultType="MemoVO" parameterType="map">
	SELECT 
		MEMBERID,
		DEVICEID,
		DELIVERYMASTERID,
		ORDERID,
		MEMOID,
		STARTSALESDATE,
		MEMOTYPE,
		B.CODENAME CODENAME,
		RESERVID,
		REQUESTID,
		TRADEID,
		CONTENTS,
		ISIMPORTANT,
		ISCHECKED,
		ISDELETED,
		A.CREATIONDATE,
		A.MODIFICATIONDATE
	FROM MEMO A, COMMONCODE B
	WHERE A.MEMOTYPE = B.CODE(+)
	AND B.CODETYPE(+) = 'TYPE_B'
	</select>

	<select id="count" resultType="int" parameterType="map">
		SELECT count(0) as total
		FROM MEMO
	</select>
	<!-- 상세보기 -->
	<select id="getDetail" resultType="MemoVO" parameterType="map">
	SELECT 
		MEMBERID,
		DEVICEID,
		DELIVERYMASTERID,
		ORDERID,
		MEMOID,
		STARTSALESDATE,
		MEMOTYPE,
		B.CODENAME CODENAME,
		RESERVID,
		REQUESTID,
		TRADEID,
		CONTENTS,
		ISIMPORTANT,
		ISCHECKED,
		ISDELETED,
		A.CREATIONDATE,
		A.MODIFICATIONDATE
	FROM MEMO A, COMMONCODE B
	WHERE A.MEMOTYPE = B.CODE(+)
	AND B.CODETYPE(+) = 'TYPE_B'
	AND ROWNUM = 1
	</select>
		
	<!-- 입력 -->		
	<insert id="insertMemo" parameterType="MemoVO">
		INSERT INTO MEMO (MEMBERID,
	            DEVICEID,
	            CATEGORYID,
	            MEMOID,
	            NAME,
	            SORTORDER,
	            DEFAULTPRICE,
	            STOREPRICE,
	            DELIVERYPRICE,
	            TAKEOUTPRICE,
	            DEFAULTPOINT,
	            STOREPOINT,
	            DELIVERYPOINT,
	            TAKEOUTPOINT,
	            DEFAULTDISCOUNT,
	            STOREDISCOUNT,
	            DELIVERYDISCOUNT,
	            TAKEOUTDISCOUNT,
	            ISHIDDEN,
	            CREATIONDATE,
	            MODIFICATIONDATE,
	            SYNCDATE,
	            ISDELETED)
		VALUES ( 0,
				0,
				0,
				SELECT To_Number('0' || Max(id))+1 FROM MEMO,
				#{name},
				#{sortorder},
				#{defaultprice},
				#{storeprice},
				#{deliveryprice},
				#{takeoutprice},
				#{defaultpoint},
				#{storepoint},
				#{deliverypoint},
				#{takeoutpoint},
				#{defaultdiscount},
				#{storediscount},
				#{deliverydiscount},
				#{takeoutdiscount},
				#{ishidden},
				sysdate,
				sysdate,
				sysdate,
				#{isdeleted}
		)
	</insert>

	<!-- 수정 -->
	<update id="updateMemo" parameterType="MemoVO">
		UPDATE MEMO
		SET    
		       CATEGORYID       = 0,
		       NAME             = #{name},
		       SORTORDER        = #{sortorder},       
		       DEFAULTPRICE     = #{defaultprice},    
		       STOREPRICE       = #{storeprice},      
		       DELIVERYPRICE    = #{deliveryprice},   
		       TAKEOUTPRICE     = #{takeoutprice},    
		       DEFAULTPOINT     = #{defaultpoint},    
		       STOREPOINT       = #{storepoint},      
		       DELIVERYPOINT    = #{deliverypoint},   
		       TAKEOUTPOINT     = #{takeoutpoint},    
		       DEFAULTDISCOUNT  = #{defaultdiscount}, 
		       STOREDISCOUNT    = #{storediscount},   
		       DELIVERYDISCOUNT = #{deliverydiscount},
		       TAKEOUTDISCOUNT  = #{takeoutdiscount}, 
		       ISHIDDEN         = #{ishidden},        
		       CREATIONDATE     = #{creationdate},    
		       MODIFICATIONDATE = #{modificationdate},
		       SYNCDATE         = #{syncdate},        
		       ISDELETED        = #{isdeleted}	    
		WHERE  MEMBERID         = #{memberid}
		AND    DEVICEID         = #{deviceid}
		AND    MEMOID           = #{menuid}
	</update>

	<!-- 삭제 -->
	<delete id="deleteMemo" parameterType="Integer">
		DELETE FROM
		MEMO
		WHERE  MEMBERID         = #{memberid}
		AND    DEVICEID         = #{deviceid}
		AND    MEMOID           = #{menuid}
	</delete>
	  
</mapper>